<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'doctor/styles/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">SmartPB</div>
      <ul class="nav-links">
        {% if user.rolebaseduser.isDoctor %}
          <li><a href="{% url 'doctors:patients'%}" {% if active == "patients" %}class="active"{% endif %}>Patients</a></li>
          <li><a href="{% url 'medications:meds'%}" {% if active == "medications" %}class="active"{% endif %}>Medications</a></li>
          <li><a href="" {% if active == "prescription" %}class="active"{% endif %}>Prescription</a></li>
          <li><a href="" {% if active == "alerts" %}class="active"{% endif %}>Alerts</a></li>
        {% else %}
          <li><a href="" {% if active == "prescription" %}class="active"{% endif %}>Prescription</a></li>
        {% endif %}
        <li><a href="{% url 'authentication:logout'%}" id="logout">Logout</a></li>
       </ul>
      </nav>
      
    {% block content %}{% endblock content %}
</body>
</html>