* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  transition: background 0.3s;
}

.nav-links a:hover {
  background-color: #575757;
  border-radius: 5px;
} 

.active {
  background-color: #575757;
  border-radius: 5px;
}
#logout {
  border: white solid 2px;
  border-radius: 10px;
}

.addBtn
{
  background-color: lime;
  width: 40%;
  margin-left: calc((100% - 40%)/2);
  margin-top: 20px;
  margin-bottom: 10px;
  height: 50px;
  border-radius: 20px;
  font-size: 100%;
}

.delete {
  background-color: red;
}

.action {
  text-decoration: none;
  color: black;
  border: black solid 2px;
  border-radius: 10px;
  padding: 5px;
}

.blue {
  background-color: lightblue;
}

.green {
  background-color: lightgreen;
}


.add-new {
  width: 50%;
  margin: auto;
  border: none;
  margin-bottom: 20px;
  height: 10%;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 50%;
}
td {
  padding: 10px;
  vertical-align: top;
}
input[type="text"], textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
textarea {
  resize: vertical;
}

.hidden {
  display: none;
}

.period-container
{
  width: 65%;
  min-height: 100px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border: black dotted 1px;
  border-radius: 10px;
  text-align: center;
}

.period-container h2 {
  text-decoration: underline;
  margin-bottom: 10px;
}

.task {
  background-color: white;
  height: 30px;
  margin: 10px 10px;
  border: black solid 2px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
}

.task p{ 
  text-align: center; 
  width: 100%;
}

.task button {
  color: white; 
  margin-left: 5px;
  height: 90%;
}

.medication{
  font-weight: bold;
}

.duration {
  border: black solid 2px;
  border-radius: 10px;
  padding: 0 10px;
}

.foodperiod-after{
  border: black solid 1px;
  border-radius: 10px;
  padding: 0 10px;
  color: black;
  background-color: chocolate;
}


.foodperiod-before{
  border: black solid 1px;
  border-radius: 10px;
  padding: 0 10px;
  color: black;
  background-color: yellow;
}